/* student-profile.css */
/* تصميم Premium أسود × ذهبي */

.sp-container {
  min-height: 100vh;
  background: #000000;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.sp-card {
  background: #0d0d0d;
  padding: 35px;
  width: 420px;
  border-radius: 18px;
  box-shadow: 0 0 25px #000;
  border: 1px solid #222;
  text-align: center;
}

.sp-title {
  font-size: 28px;
  color: #f5c542;
  margin-bottom: 25px;
  font-weight: bold;
  text-shadow: 0 0 8px #000;
}

.sp-info p {
  background: #111;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  border: 1px solid #222;
  color: #e6e6e6;
  font-size: 17px;
}

.sp-btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #f5c542;
  color: black;
  transition: 0.3s;
  font-weight: bold;
}

.sp-btn:hover {
  background: #ffdd55;
  transform: translateY(-3px);
}

.sp-btn-outline {
  background: transparent;
  color: #f5c542;
  border: 2px solid #f5c542;
}

.sp-btn-outline:hover {
  background: #f5c542;
  color: black;
}
