.report-container {
  background: #0d0d0d;
  color: white;
  padding: 30px;
  border-radius: 22px;
  width: 90%;
  margin: 25px auto;
  direction: rtl;
  text-align: right;
  box-shadow: 0 0 25px #000;
}

.report-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #d4af37;
  font-weight: bold;
}

.report-box {
  background: #111;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid #222;
}

.report-exam-name {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.report-stats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.stat {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: #1a1a1a;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #222;
}

.stat b.gold {
  color: #d4af37;
}

.stat b.red {
  color: #ff4444;
}

.report-tips h4 {
  font-size: 20px;
  color: #d4af37;
  margin-bottom: 12px;
}

.report-tips ul {
  list-style: none;
  padding: 0;
}

.report-tips ul li {
  background: #1a1a1a;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #222;
  font-size: 16px;
}

.report-actions {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.report-btn {
  padding: 14px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #d4af37;
  transition: 0.3s;
  text-align: center;
}

.gold-btn {
  background: #d4af37;
  color: black;
}

.gold-btn:hover {
  background: black;
  color: #d4af37;
}

.black-btn {
  background: black;
  color: white;
}

.black-btn:hover {
  background: #d4af37;
  color: black;
}
